<!DOCTYPE html>
<html lang="en">

<head>
    <title>悦农通，专注农业金融服务</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../style/reset.css">
    <link rel="stylesheet" href="./style/Introduction.css">
</head>

<body>
    <header>
        <div class="logo-title">
            <img src="../../images/index/logo_title.png" alt="">
        </div>
        <div class="index-menu">
            <div class="index-menu-top" id="index_menu_top">
                <img src="../../images/index/menu.png" alt="" srcset="">
            </div>
        </div>
    </header>
    <div class="mask" id="mask">
        <div class="index-menu-bottom" id="index_menu_bottom">
            <span class="triangle"></span>
            <p>
                <a href="../../index.html">
                    <img class="menu1" src="../../images/index/menu1_hide.png" alt="首页">首页
                </a>
            </p>
            <p>
                <a href="../about/about.html">
                    <img class="menu1" src="../../images/index/menu2_hide.png" alt="关于我们">关于我们
                </a>
            </p>
            <p>
                <img class="menu1" src="../../images/index/menu3.png" alt="功能介绍">功能介绍
            </p>
        </div>
    </div>
    <section>
        <div class="page page1">
            <div class="page-top">
                <p>在线投保</p>
                <p>快速查询本地农业保险</p>
            </div>
            <div class="page-img">
                <img src="../../images/Introduction/phone2.png" alt="" srcset="">
            </div>
        </div>
        <div class="page page2">
            <div class="page-top">
                <p>我要贷款</p>
                <p>使用更便捷，贷款更方便，快速到账</p>
            </div>
            <div class="page-img">
                <img src="../../images/Introduction/phone1.png" alt="" srcset="">
            </div>
        </div>
    </section>
    <script src="../../js/jquery.js"></script>
    <script src="https://cdn.bootcss.com/Swiper/3.4.2/js/swiper.min.js"></script>
    <script src="../../js/index.js"></script>
    <script src="./js/Introduction.js"></script>
</body>

</html>