html,
body {
  overflow: hidden;
  height: 100%;
  font-family: "微软雅黑", "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
header {
  padding: 0 0.64rem;
  background: linear-gradient(90deg, #1a9de1, #34bbf0);
  color: #ffffff;
  height: 2.304rem;
  line-height: 2.304rem;
}
header .logo-title img {
  width: 8.10666667rem;
  height: 2.304rem;
}
header .index-menu {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
  text-align: right;
  width: 2.13333333rem;
  height: 10%;
  text-align: center;
}
header .index-menu .index-menu-top {
  height: 2.304rem;
  line-height: 2.00533333rem;
}
header .index-menu .index-menu-top img {
  width: 0.85333333rem;
  height: 0.72533333rem;
  vertical-align: middle;
}
.mask {
  position: absolute;
  display: none;
  left: 0;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.mask .index-menu-bottom {
  width: 5.33333333rem;
  height: 5.97333333rem;
  background-color: #ffffff;
  float: right;
  margin-right: 0.64rem;
  border-radius: 0.10666667rem;
  margin-top: 1.70666667rem;
}
.mask .index-menu-bottom .triangle {
  margin: 0;
  display: block;
  height: 0rem;
  width: 0rem;
  margin-top: -0.32rem;
  float: right;
  margin-right: 0.256rem;
  border-width: 0.17066667rem;
  border-style: solid;
  border-color: transparent transparent white transparent;
}
.mask .index-menu-bottom p {
  text-align: left;
  height: 1.96266667rem;
  border-bottom: solid 1px #eeeeee;
  font-size: 0.59733333rem;
  line-height: 1.96266667rem;
  color: #999999;
}
.mask .index-menu-bottom p:last-of-type {
  border: none;
}
.mask .index-menu-bottom p img {
  padding: 0 0.64rem;
  margin-top: -0.10666667rem;
  width: 0.64rem;
  height: 0.64rem;
  vertical-align: middle;
}
#wrapper {
  position: absolute;
  z-index: 1;
  top: 2.304rem;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
}
#wrapper .iScrollVerticalScrollbar {
  display: none;
}
#wrapper #scroller {
  position: absolute;
  z-index: 1;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  width: 100%;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -o-text-size-adjust: none;
  text-size-adjust: none;
}
#wrapper #scroller section {
  overflow: hidden;
  background-color: #eeeeee;
}
#wrapper #scroller section .index-banner {
  position: relative;
}
#wrapper #scroller section .index-banner img {
  width: 100%;
}
#wrapper #scroller section .index-banner .phone {
  position: absolute;
  left: 1.344rem;
  top: 4.01066667rem;
}
#wrapper #scroller section .index-banner .phone img {
  width: 3.84rem;
  height: 1.28rem;
  border-radius: 0.21333333rem;
}
#wrapper #scroller section .index-banner .phone.android img {
  box-shadow: 0.17066667rem 0.384rem 0.32rem rgba(50, 182, 238, 0.2);
}
#wrapper #scroller section .index-banner .phone.ios {
  top: 5.61066667rem;
}
#wrapper #scroller section .index-step {
  padding: 0.64rem;
  padding-bottom: 0;
}
#wrapper #scroller section .index-step .index-step-img a img {
  width: 100%;
  box-shadow: 0rem 0rem 0.32rem 0.10666667rem rgba(51, 51, 51, 0.3);
}
#wrapper #scroller section .footer {
  margin-top: 0.64rem;
  background: linear-gradient(90deg, #1a9de1, #34bbf0);
  color: #ffffff;
  font-size: 0.512rem;
  padding: 0.74666667rem 0.64rem;
}
#wrapper #scroller section .footer p {
  line-height: 0.64rem;
}
